body {
  background-image: url(/images/image-3.png);
  margin:0;
}
.page-acceuil{
  display: grid;
  grid-template-areas:
    "head head . . ."
    "nav  tweet1  tweet2 tweet3 tweet4"
    "nav  messages1 messages2 . ."
    "nav  messages3 messages4 . .";
  grid-template-rows: 115px 170px 1fr 1fr ;
  grid-template-columns: 120px 1fr 1fr 1fr 1fr ;
}
.messages1{
  grid-area: messages1;
  background-color: #45a049;
  height: 80%;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  grid-column: 2/span 2;

}
.messages2{
  grid-area: messages2;
  background-color:#FA25CB;
  height: 80%;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  grid-column: 4/span 2;
}
.messages3{
  grid-area: messages4;
  background-color: #FA25CB;
  height: 80%;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  grid-column: 2/span 2;
}
.messages4{
  grid-area: messages3;
  background-color:#45a049;
  height: 80%;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  grid-column: 4/span 2;
}

.tweet1{
  grid-area: tweet1;
  background-color: #45a049;
  height: 80%;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}
.tweet2{
  grid-area: tweet2;
  background-color:#FA25CB;
  height: 80%;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}
.tweet3{
  grid-area: tweet3;
  background-color: #45a049;
  height: 80%;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}
.tweet4{
  grid-area: tweet4;
  background-color:#FA25CB;
  height: 80%;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}
.rules{
  grid-area: messages 1;
  background-color:#FA25CB;
  height: 80%;
  width: 90%;
  margin-left: 8%;
  grid-column: 1/span 5;
  grid-row: 3/span 4;
  border-radius: 20px; 
}
.rules h2{
  font-size: 32px;
  text-align: center;
}
.rules-indication{
  grid-area: tweet2;
  background-color: transparent;
  grid-column: 3/span 2;
}
  .rules-indication h2{
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    width: 300px;
    height: 96px;
    flex-shrink: 0;
    background-image: linear-gradient(45deg, rgba(236, 253, 24, 0.87), #000000);
    transform: skewX(-10deg);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  } 



.menu-box {
  grid-area: nav;
    width: 92px;
    height: 925px;
    margin-left: -0.5%;
    margin-top: 20px;
    flex-shrink: 0;
    }
  
  /* Retirer les pastilles avant les items des listes */
  ul {
    list-style: none;
  }
  
  body {
    background-color: #e7e7e8;
  }
  
  .menu-nav a {
    background-image: linear-gradient(45deg, rgba(236, 253, 24, 0.87), #000000);
    transform: skewX(-10deg);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    font-family: Inter;
    font-size: 32px;
    text-decoration: none;
  }
  
  .menu-label,
  .menu-cb {
    cursor: pointer;
    appearance: none;
    position: absolute;
    height: 45px;
    width: 45px;
    left :35px;
    top: 150px;
    z-index: 4;
  }
  
  .menu-button {
    height: 100%;
    width: 100%;
  }
  
  .menu-nav {
    
  grid-area: nav;
    position: relative;
    height: 100%;
    width: 1000%;
    max-width: 400px;
    padding-top: 110px;
    text-align: right;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #FA25CB;
    z-index: 2;
    transform: translateX(-72%);
    transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 20px;
  }
  
  .menu-item {
    padding: .5em 20px;
    border-top: 1px solid #000000;
  }
  
  .menu-cb:checked ~ .menu-nav {
    transform: translateX(0);
    
    border-radius: 0px 20px 20px 0px;
  }

  .menu-item a i {
    margin-left:40px;
    margin-right: 20px;
  }
  
  .menu-cote {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
.header {
    grid-area: head;
    width: 101%;
    min-height: 50px;
    margin-left: -10px;
    align-items:center;
    display:flex;
    flex-shrink: 0;
    grid-column: 1/span 5;
    border-radius: 0px 0px 20px 20px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.14) 63.5%, rgba(0, 0, 0, 0.20) 100%), #FA25CB;
}
  .search-bar {
    margin: 0 auto;
    width: auto;
    height:80px;
    border-radius: 20px;
    display:grid;
    grid-template-columns:1fr 80px 80px;
    grid-gap:30px;  }
  .search-bar input {
    width: 500px;
    height: 100%;
    padding: 0 20px;
    border: none;
    border-radius: 20px;
    background: #FFF;
    font-size: 18px;
    color: #333;
  }   


.header  a {
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    width: 300px;
    height: 96px;
    flex-shrink: 0;
    background-image: linear-gradient(45deg, rgba(236, 253, 24, 0.87), #000000);
    transform: skewX(-10deg);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 50px;
    
}

.button-compte {
  background-color: #FFF; 
  width:80px;
  height: 80px;
  border: none;
  cursor: pointer;
  font-size:30px;
}


.debug{
  border:2px solid lime;
}

.background-inscirption-connexion{
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.14) 63.5%, rgba(0, 0, 0, 0.20) 100%), #FA25CB;
  background-image: url(/images/image-3.png);
  margin:0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px 1fr;
}

.header-inscription {
  align-items:center;
  display:flex;
  flex-shrink: 0;
  grid-column-start:1;
  grid-column:1 /span 2;
  }

.header-inscription a {
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  flex-shrink: 0;
  background-image: linear-gradient(45deg, rgba(236, 253, 24, 0.87), #000000);
   background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  font-family: Inter;
  font-size: 120px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  
}

.button-inscription  {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.debug{
  border:2px solid lime;
}

.text-inscription{
  display: inline-block;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.text-inscription h1 {
  font-family: Inter;
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 50px;
  text-align: center;
}

.text-inscription h2{
  font-size: 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 50px;
  text-align: center;
}
.clique{
  color: rgba(236, 253, 24, 0.87);
  text-decoration: underline;

}
/* Style the registration form container */
.button-inscription {
  width: 300px;
  height: fit-content;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  
  
  justify-content: center;
}

/* Style the registration form inputs */
.button-inscription input[type="text"],
.button-inscription input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.button-inscription input[type="text"]:focus,
.button-inscription input[type="email"]:focus {
  border-color: #333;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
}

/* Style the registration form submit button */
.button-inscription button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button-inscription button:hover {
  background-color: #45a049;
}
.password
  {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.users-indication h2{
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  height: 96px;
  flex-shrink: 0;
  background-image: linear-gradient(45deg, rgba(236, 253, 24, 0.87), #000000);
  transform: skewX(-10deg);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  font-family: Inter;
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
} 
.users-indication{
  grid-area: tweet2;
  background-color: transparent;
  grid-column: 1 / span 5;
  grid-row: 2 / span 4;
}

.users {
  font-size: 32px;
  text-align: center;
}
.users{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  grid-area: messages 1;
  background-color:#FA25CB;
  height: 70%;
  width: 55%;
  margin-left: 25%;
  grid-column: 1/span 5;
  grid-row: 3/span 4;
  border-radius: 20px; 
}
.profile-picture {
  
  width: 150px; /* taille du rond */
  height: 150px;
  border-radius: 50%; /* pour faire un cercle */
  overflow: hidden; /* pour cacher les bords de l'image */
  border: 2px solid #ccc; /* bordure grise */
}

.profile-picture img {
  width: 100%; /* pour que l'image occupe tout l'espace */
  height: 100%;
  object-fit: cover; /* pour que l'image soit redimensionnée pour occuper tout l'espace */
  border-radius: 50%; /* pour que l'image soit également un cercle */
}

.users h1{
  margin-top: 20px;
  font-size: 32px;
  text-align: center;
}

.bottone1 {
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 9px; background-image: linear-gradient(45deg, rgba(236, 253, 24, 0.87), #000000);
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
 }
 
 .bottone1:hover {
  box-shadow: 7px 5px 56px -14px #C3D900;
 }
 
 .bottone1:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #C3D900;
 }

 #logojaune{color: #C3D900;
 }

 .custum-file-upload {
  bottom: 10px;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}

.custum-file-upload .icon {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}

.drag-and-drop{
  display: flex;
  justify-content: center;
  grid-area: messages1;
  background-color: #45a049;
  height: 70%;
  width: 55%;
  margin-left: 25%;
  grid-column: 2/span 2;
  border-radius: 20px;

}

#content_post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 400px;
  width: 800px;
}

.acceuil-tweet-messages{
  border-radius: 20px;
}