<!DOCTYPE html>
<html>
<head>
    <title>acceuil</title>
    <link rel="stylesheet" href="./style/style.Css">
    <link rel="stylesheet" href="./style/style.js">
</head>
<body>
    <div class="header">
        <h1>YBLOG</h1>
        <form class="search-bar" action="/search" method="get">
            <input type="text" name="q" placeholder="                       Rechercher sur YBLOG">
            <button class="button-search"type="submit"></button>
            <button class="button-compte"></button>
          </form>
    </div>
    <div class="menu-box"> 
      <label for="menu-cb" class="menu-label">
        <div class="menu-button">
          <svg viewBox="0 0 32 32" fill="#666">
            <rect x="0" y="4" rx="3" ry="3" width="32" height="3" />
            <rect x="0" y="14" rx="3" ry="3" width="32" height="3" />
            <rect x="0" y="24" rx="3" ry="3" width="32" height="3" />
          </svg>
        </div>
      </label>
      <input id="menu-cb" type="checkbox" class="menu-cb">
      <nav class="menu-nav">
        <ul>
          <li class="menu-item"><a href="#page1">Page 1</a></li>
          <li class="menu-item"><a href="#page2">Page 2</a></li>
          <li class="menu-item"><a href="#page3">Page 3</a></li>
          <li class="menu-item"><a href="#page3">Page 4</a></li>
        </ul>
      </nav>
    </div>
    </div>
</body>
</html>
