<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>register</title>
</head>
<body>
        <form action="/register-form" method="post" onsubmit="return validateEmail();">
                <label for="name">entrer votre nom :</label>
                <input type="text" name="name" placeholder="name" required>
                <label for="surname">prénom :</label>
                <input type="text" name="surname" placeholder="surname" required>
                <label for="email">email:</label>
                <input type="text" name="email" id="emailInput" placeholder="email@ynov.com" >
                <label for="phoneNumber">numero de telephone :</label>
                <input type="text" name="phoneNumber" placeholder="phone number" required>
                <label for="username">nom d'utilisateur :</label>
                <input type="text" name="username" placeholder="username" required>
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" placeholder="password" required>
                <label for="password_confirm">Confirmation du mot de passe :</label>
                <input type="password" id="password_confirm" name="password_confirm" placeholder="confirm password" required>
                <label for="birth_date">Date de naissance :</label>
                <input type="text" id="birth_date" name="birth_date" pattern="\d{2}/\d{2}/\d{4}" placeholder="jj/mm/aaaa" required>
                <input type="submit" value="validate">
        </form> 

        <h3>{{.erreur}}</h3>
        
</body>
</html>
